* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif; }

a {
  color: gray;
  text-decoration: none; }

h1, h2, h3, h4, h5 {
  padding: 8px;
  color: white;
  font-weight: 100; }

button {
  height: 1.5em;
  font-size: 1em;
  padding: .2em .4em .20em .4em;
  background-color: lightgray;
  color: #303030;
  color: white;
  background-color: #2a3517;
  border-radius: 5px;
  margin: .1em .2em 0 .2em; }

button:focus {
  background-color: #1C230F;
  outline: none; }

button:hover {
  outline: none;
  background-color: #1C230F; }

.hide {
  display: none; }

.show {
  display: visible; }

div #myapp {
  min-height: 100vh;
  background-color: #2a3517;
  color: white;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between; }

header {
  letter-spacing: .1em;
  background-color: #181F1C;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0 0 8em; }
  header h5 {
    color: white; }

#victory {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  margin-top: -2em;
  margin-left: 1em;
  padding-top: .6em;
  color: black;
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  background-color: #8fb339;
  transform: rotate(345deg); }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex: 0 0 auto; }

div#msg {
  width: 16em;
  text-align: center;
  min-height: 3em;
  font-size: 2em; }

img {
  width: 2.75em;
  height: 4em;
  left: 0.7em;
  top: 0.6em;
  position: absolute;
  border: none; }

#gameboard {
  font-size: 1.9em;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-contents: center; }

#display {
  width: 4.15em;
  height: 5.30em;
  border-radius: 5px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right; }
  #display p {
    font-size: .9em;
    box-shadow: inset 1px 3px 6px 1px gray;
    background-color: lightgray;
    color: #303030;
    height: 1.45em;
    border-radius: 5px;
    padding-top: .4em;
    padding-right: .2em; }

#display-final {
  width: 16.5em;
  height: 5.30em;
  border-radius: 5px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  #display-final p {
    font-size: .9em;
    background-color: lightgray;
    color: #303030;
    height: 1.45em;
    padding-top: .4em;
    padding-right: .2em; }

#hand {
  display: flex;
  margin-left: 2px; }

.card {
  box-shadow: 1px 2px 6px 2px #303030;
  position: relative;
  color: black;
  width: 4.15em;
  height: 5.3em;
  border-radius: 5px;
  background-color: white;
  padding: 1px; }

.card div {
  flex: 0 0 25%; }

#newHand {
  width: 10em;
  height: 2em;
  font-size: 2em;
  padding: .30em .4em;
  background-color: lightgray;
  color: #303030;
  border-radius: 5px;
  margin: .5em; }

#newHand:hover {
  background: ivory; }

#newHand:active {
  background: mistyrose; }

#newHand:focus {
  outline: none; }

#trade {
  max-width: 16em;
  width: 16em;
  font-size: 2em;
  text-align: center;
  margin-top: .5em; }

#instructions {
  width: 30em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  font-size: 1.35em;
  line-height: 1.2;
  letter-spacing: .05em; }

.instelem {
  display: flex;
  flex-direction: row; }

.category {
  flex: 1 1 20%;
  height: 100%;
  padding: 10px;
  align-self: flex-start;
  text-align: right; }

.instruction {
  flex: 1 1 80%;
  height: 100%;
  padding: 10px;
  align-self: flex-start; }

footer {
  display: flex;
  justify-content: center;
  background-color: #181F1C;
  font-size: 1.5em;
  width: 100vw;
  min-height: 4em; }

#footer {
  display: inline-flex;
  background-color: #181F1C;
  flex: 1 1 3em;
  align-items: center;
  justify-content: space-around;
  align-content: stretch; }

.footlink {
  margin: auto 2vw; }

.red {
  color: red; }

.black {
  color: black; }

.spotA1 {
  position: absolute;
  left: 0.50em;
  top: 0.2em; }

.spotA2 {
  position: absolute;
  left: 0.50em;
  top: 1.3em; }

.spotA3 {
  position: absolute;
  left: 0.50em;
  top: 1.8em; }

.spotA4 {
  position: absolute;
  left: 0.50em;
  top: 2.4em; }

.spotA5 {
  position: absolute;
  left: 0.50em;
  top: 3.5em; }

.spotB1 {
  position: absolute;
  left: 1.55em;
  top: 0.3em; }

.spotB2 {
  position: absolute;
  left: 1.55em;
  top: 0.9em; }

.spotB3 {
  position: absolute;
  left: 1.55em;
  top: 1.8em; }

.spotB4 {
  position: absolute;
  left: 1.55em;
  top: 2.9em; }

.spotB5 {
  position: absolute;
  left: 1.55em;
  top: 3.5em; }

.spotC1 {
  position: absolute;
  left: 2.60em;
  top: 0.2em; }

.spotC2 {
  position: absolute;
  left: 2.60em;
  top: 1.3em; }

.spotC3 {
  position: absolute;
  left: 2.60em;
  top: 1.8em; }

.spotC4 {
  position: absolute;
  left: 2.60em;
  top: 2.4em; }

.spotC5 {
  position: absolute;
  left: 2.60em;
  top: 3.5em; }

.face {
  border: 1px solid black;
  position: absolute;
  left: 0.50em;
  top: 0.45em;
  width: 2.6em;
  height: 4.0em; }

.ace {
  font-size: 150%;
  position: absolute;
  left: 0.825em;
  top: 0.95em; }

.corner {
  font-size: 40%;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 0.20em;
  top: 0.20em; }

@media screen and (max-width: 800px) {
  div #myapp {
    min-height: 100vh; }
  #footer {
    flex-direction: column; } }

@media screen and (max-width: 700px) {
  div #myapp {
    min-height: 100vh;
    font-size: 0.9em; }
  #footer {
    flex-direction: column; } }

@media screen and (max-width: 600px) {
  div #myapp {
    min-height: 100vh;
    font-size: 0.8em; }
  #victory {
    font-size: 1.5em; }
  #footer {
    flex-direction: column; } }

@media screen and (max-width: 500px) {
  div #myapp {
    min-height: 100vh;
    font-size: 0.6em; }
  #victory {
    font-size: 1.4em; }
  #footer {
    flex-direction: column; } }

@media screen and (max-width: 400px) {
  div #myapp {
    font-size: 0.5em;
    min-height: 100vh; }
  #victory {
    font-size: 1.3em; }
  #gameboard {
    flex-direction: column; }
  #display {
    width: 16.5em;
    text-align: center;
    margin-bottom: .5em; }
  #newhand {
    width: 16.5em; }
  #footer {
    flex-direction: column; } }

@media screen and (max-width: 300px) {
  div #myapp {
    font-size: 0.5em;
    min-height: 100vh; }
  #victory {
    font-size: 1.3em; }
  #gameboard {
    flex-direction: column; }
  #display {
    width: 16.5em;
    text-align: center;
    margin-bottom: .5em; }
  #newhand {
    width: 16.5em; }
  #footer {
    flex-direction: column; } }
